<mat-card>
  <mat-card-content>
    <mat-icon>search</mat-icon>
    <mat-form-field class="example-form-field">
      <!--- I dont know if its okay to call service from html, it's not mentioned in styleguide --->
      <input [(ngModel)]="searchTerm"
      (ngModelChange)="getAvailableEntities()"
      class="searchEntities" id="myInput" matInput placeholder="Search entity"
      />
    </mat-form-field>
    <mat-selection-list #entityList [(ngModel)]="selectedEntities">
      <mat-list-option *ngFor="let entity of listItems" [value]="entity.id">
        {{ entity.name }}<br /><span class="grey">
          {{ entity.description }}
        </span>
        <mat-divider></mat-divider>
      </mat-list-option>
    </mat-selection-list>
  </mat-card-content>
  <mat-card-footer>
    <a mat-stroked-button routerLink="/home" class="backBtn" color="white"
      >Back</a
    >
    <button
      *ngIf="entityList.selectedOptions.selected.length > 0"
      id="connectBtn"
      mat-raised-button
      color="primary"
      (click)="connectEntities()"
    >
      CONNECT
    </button>
  </mat-card-footer>
</mat-card>
