<mat-card>
  <mat-card-content *ngIf="entitiesService.connected?.length === 0">
    <button mat-icon-button routerLink="/list">
      <mat-icon>add_circle</mat-icon>
    </button>
    <mat-label>Connect entity </mat-label>
  </mat-card-content>

  <mat-card-content *ngIf="entitiesService.connected?.length > 0">
    <button mat-icon-button routerLink="/list">
      <mat-icon>add_circle</mat-icon>
    </button>
    <mat-label>
      Entities connected ({{ entitiesService.connected.length }})
    </mat-label>
    <mat-list>
      <mat-list-item *ngFor="let entitet of entitiesService.connected">
        <span class="entitetText">
          {{ entitet.name }} <br />
          <span class="grey">
            {{ entitet.description }}
          </span>
        </span>
        <button
          (click)="entitiesService.disconnect(entitet.id)"
          class="iconBtn"
          mat-icon-button
        >
          <mat-icon matListIcon>delete</mat-icon>
        </button>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
